/*ESTILOS DE LA ASIGNATURA MATEMÃTICAS*/

a {
    /*color: #ffcc00;*/
    color: #777;
}

a:active, a:focus, a:hover {
    color: #4FAFE6;
}

body {
    background: #D2DAFC url(../assets/fondo-web2.jpg);
}

div.cs-skin-slide:not(.cs-active):before {
    border-bottom: 2px dotted #4FAFE6;
}

h1, h2, h3, h4, h5, h6 {
    color: #4FAFE6;
}

ul.list-actividades a strong {
    color: #4FAFE6;
}

ul.lista-menu>li a strong {
    color: #4FAFE6;
}

#nav-icon1, #nav-icon3 {
    background-color: #4FAFE6;
}

.actividades {
    background: #4FAFE6 url(../assets/fondo-web2.jpg);
}

.backdrop {
    background: #fff url(../assets/fondo-cortina.jpg);
    border: 20px solid #4FAFE6;
}

.backdrop .instrucciones {
    background-color: rgba(255, 204, 0, 0.08);
    border-bottom-color: #4FAFE6;
    border-top-color: #4FAFE6;
}

.boton-contenido .fa-bars, .boton-contenido .fa-times {
    background: #4FAFE6;
}

.crono {
    background: rgba(255, 204, 0, 0.08);
    color: #4FAFE6;
}

.cs-skin-slide > span::after, 
.cs-skin-slide.cs-active > span::after {
    color: #4FAFE6;
}

.cs-skin-slide .cs-options li {
    background: rgba(255, 204, 0, 0.08);
}

.cs-skin-slide .cs-options li:hover {
    background: rgba(255, 204, 0, 0.2);
}
.listas-ordenadas dt:before {
    color: #4FAFE6;
}
.list-active {
    border: 1px dashed #4FAFE6;
}

.menu-asignatura .nivel {
    color: #4FAFE6;
}

.menu-contenido {
    border-bottom: 3px solid #4FAFE6;
}

.menu-contenido .menu-item a:hover .fa-stack {
    color: #4FAFE6;
}

.menu-contenido a strong {
    color: #4FAFE6;
}

.miga-pan {
    background-color: #4FAFE6;
}

.nav-roundslide a {
    border: 1px solid #4FAFE6;
}

.page-header {
    border-bottom: 2px dashed #4FAFE6;
}

.pagina .boton-fijo .fa-stack-1x {
    background: #4FAFE6;
}

.sopa .palabras hr {
    border-top: 1px dashed #4FAFE6;
}

.tooltip-exploratorios-content {
    background: #4FAFE6;
}

.tooltip-exploratorios-item {
    color: #4FAFE6;
}
.tooltip-exploratorios-content::after {
    border-top-color: #4FAFE6;
}
.tooltip-exploratorios-text{
    color: rgba(0,0,0,0.7);
}

.tooltip-exploratorios-text strong {
    display: block;
    text-transform: uppercase;
    font-weight: 800;
}
.tooltip-glosario-content {
    background: #4FAFE6;
}

.tooltip-glosario-item {
    color: #4FAFE6;
}
.ace_gutter-cell.ace_warning {
  background-image:none !important;
}
.ace_gutter-cell.ace_error{
    background-image:none !important;
}