/*@import url(http://fonts.googleapis.com/css?family=Indie+Flower);*/

.tooltip-glosario {
    border-bottom: 1px dotted #ccc;
    display: inline;
    position: relative;
    z-index: 999;
}

/* Trigger text */

.tooltip-glosario-item {
    color: inherit;
    cursor: pointer;
    z-index: 100;
    position: relative;
    display: inline-block;
    font-weight: 400;
    -webkit-transition: background-color 0.3s, color 0.3s, -webkit-transform 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.tooltip-glosario:hover .tooltip-glosario-item {
    color: #fff;
    -webkit-transform: translate3d(0,-0.5em,0);
    -moz-transform: translate3d(0,-0.5em,0);
    transform: translate3d(0,-0.5em,0);
}

/* Tooltip */

.tooltip-glosario-content {
    background: #777;
    left: 50%;
    margin-left: -180px;
    bottom: -5px;
    font-size: 22px;
    line-height: 1.5;
    -webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.45);
    -moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.45);
    box-shadow: 0 0 0 1px rgba(255,255,255,0.45);
    border-bottom: 65px solid rgba(0,0,0,0.2);
    color: #fff;
    cursor: default;
    pointer-events: none;
    border-radius: 5px;
    opacity: 0;
    padding: 1.5em;
    position: absolute;
    text-shadow: 2px 1px rgba(0,0,0,0.15);
    -webkit-transform: translate3d(0,-0.5em,0);
    -moz-transform: translate3d(0,-0.5em,0);
    transform: translate3d(0,-0.5em,0);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    width: 360px;
    z-index: 99;
}

.tooltip-glosario-content a {
    /*color: #32434f;*/
}

.tooltip-glosario-text {
    opacity: 0;
    -webkit-transform: translate3d(0,1.5em,0);
    -moz-transform: translate3d(0,1.5em,0);
    transform: translate3d(0,1.5em,0);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.tooltip-glosario:hover .tooltip-glosario-content,
.tooltip-glosario:hover .tooltip-glosario-text {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.tooltip-glosario:hover{
    z-index: 1000;	
}
