/*ESTILOS DE LA LECCION*/
/*Scratch*/
#contenedor-scratch {
    background-image: url(../img/bg.png);
    height: 948px;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
    width: 848px;
}

#contenedor-scratch #list-origen-scratch {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 50px;
}

#contenedor-scratch #list-origen-scratch li {
    height: 179px;
    width: 183px;
    margin-left: 42px;
    margin-bottom: -8px;
}

#contenedor-scratch #list-destino-scratch {
    list-style: none;
    padding: 0;
    padding-top: 18px;
    position: absolute;
    left: 288px;
    top: 50px;
}

#contenedor-scratch #list-destino-scratch li {
    background-image: url(../img/contenedor.png);
    height: 161px;
    width: 176px;
    margin-left: 50px;
    margin-bottom: 10px;
}

#contenedor-scratch #list-destino-scratch li>img {
	margin-top: -17px;
    margin-left: -10px;
}

#contenedor-scratch ul.labels{
	list-style: none;
    padding: 0;
    padding-top: 21px;
    position: absolute;
    right: 58px;
    top: 50px;
}

#contenedor-scratch ul.labels li {
    width: 159px;
    height: 145px;
    margin-bottom: 30px;
}

#list-destino-scratch li {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.img-guia {
    width: 80px;
}

.zona-drop {
    flex: 1;
    min-height: 90px;
    border: 2px dashed #00aaff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-hover {
    background-color: #e6f7ff;
}